
<!-- contact -->
	<div class="contact">
		<div class="contact-left">
			<img src="images/allahabad.png"/ class="img-responsive">
		</div>
		<div class="contact-right">
			<p class="phn">+9026224948</p>
			<p class="phn-bottom">2/6
					<span>New Building,Khuldabad Thana,Allahabad</span></p>
			
		</div>
		<div class="clearfix"> </div>
		
		<div class="contact-right1">
			<h3>Find Me On <span>Social Websites</span></h3>
			
			<ul>
				<li><a href="https://github.com/AnchalNigam/" class="btn btn-default" target="_blank"><i class="fa fa-github fa-lg"> Github</i></a></li>
                <li><a href="https://www.linkedin.com/in/anchal-nigam-1a0855140/" class="btn btn-default" target="_blank"><i class="fa fa-linkedin fa-lg"> LinkedIn</i></a></li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //contact -->
		