
<!-- single -->
	<div class="single-page-artical">
		<div class="artical-content">
			<h3>{{mySingleBlog.blog.heading}}</h3>
			

			<img class="img-responsive" ng-src={{mySingleBlog.blog.image}} alt=" " />
			<p>{{mySingleBlog.blog.body}}</p>
		</div>
		<div class="artical-links">
			<ul>
				<li><small> </small><span>{{mySingleBlog.blog. createdOn}}</span></li>
				<li><a href="#"><small class="admin"> </small><span>{{mySingleBlog.blog.Author}}</span></a></li>
				
			</ul>
		</div>
				
		
	</div>
<!-- single -->
		